.resume-container {
  width: 600px;
  height: 300px;
  outline: 1px solid black;
  background-color: white;
  // background-image: url('../../assets/images/honeycomb-white.png');
}
.resume-heading {
  position: absolute;
  font-size: 2.5em;
  font-family: 'Cabin Sketch', cursive;
  margin-left: 49%;
  margin-top: -45%;
}

#resume-h2 {
  font-size: .7em;
  font-family: 'Cabin Sketch', cursive;
  margin-left: 6%;
  margin-top: 7%;
  width: 125px;
  border-bottom: 1px solid black;
}
#resume-p {
  margin-left: 6%;
  color: grey;
}

.resume-pages {
  padding: 0;
  margin: 0;
  margin-left: 2%;
  display: inline-block;
  width: 193px;

}

.resume-page-one {
  margin-top: 4%;
  margin-left: 13%;
  height: 250px;
  outline: 1px solid black;
  background-image: url('../../assets/images/sept-resume1-thumbnail.png');
  background-size: contain;

}

.resume-page-two {
  position: absolute;
  z-index: 1;
  margin-top: 7%;
  height: 215px;
  border-left: 1px solid black;
}

.overlay {
  position: absolute;
  margin-top: 4%;
  margin-left: 13%;
  height: 250px;
  outline: 1px solid black;
  opacity: 0;
  font-size: 3em;
  background-image: url('../../assets/images/resume-overlay.png');
  &:hover {
    opacity: 100;
    cursor: pointer;
  }
  i {
    margin-left: 40%;
    margin-top: 50%;
  }
}
.overlay-one {
  margin-left: 13%;
}
