<main class="resume-page">
  <div class="resume-container">
    <div class="resume-pages overlay overlay-one" ng-click="showModal()"></div>
    <div class="resume-pages resume-page-one"></div>
    <h1 class="resume-heading">my creds</h1>
    <div class="resume-pages resume-page-two">
      <body class="resume-page-body">
        <h2 id="resume-h2">resume 2010-2016</h2>
        <p id="resume-p">
          My current resume showing my most recent dev work as well as </br>
          showcasing design and animation projects I have worked on.
        </p>
      </body>
    </div>
    <!-- <contact-form></contact-form> -->
  </div>

</main>
