<main class="app-main">
  <resume-modal ng-show="mainCtrl.displayResumeModal" close-modal="mainCtrl.hideResumeModal()"></resume-modal>
  <div class="body-container">

    <about-me class="moveAbout about-main-container"></about-me>
    <resume-page class="moveResume resume-page-container" show-modal="mainCtrl.showResumeModal()"></resume-page>

    <section class="logo"></section>
    <h1 class="body-name">ANDREWWATSON</h1>
    <ul class="resume-buttons">
      <a href="mailto:andrewpeterwatson@gmail.com"><li class="cBtn emailBtn"><i class="fa fa-envelope-o"></i></li></a>
      <a href="https://www.linkedin.com/in/andrewpeterwatson"><li class="cBtn linkedBtn"><i class="fa fa-linkedin-square"></i></li></a>
      <a href="https://github.com/andrewpeterwatson?tab=repositories"><li class="cBtn gitBtn"><i class="fa fa-github"></i></li></a>
      <a href="https://www.facebook.com/awatson88"><li class="cBtn faceBtn"><i class="fa fa-facebook"></i></li></a>
    </ul>
    <h2 class="projectPage">pro<br>ject</h2>
    <h2 class="aboutPage aboutBtn">meet me</h2>
    <h2 class="resumePage resumeBtn">resume</h2>

    <div class="resumeBackBtn resumeBtn resumeBackBtnMove"><p>
      -
    </p></div>
    <div class="aboutBackBtn aboutBtn aboutBackBtnMove"><p>
      -
    </p></div>
    <div class="about-page-edge"></div>
    <div class="resume-page-edge"></div>
    <div class="hide-about"></div>
    <div class="hide-resume"></div>
  </div>
</main>
