<main class="app-main">
  <project-preview></project-preview>
  <div class="body-container">
    <section class="logo"></section>
    <h1 class="body-name">Andrew Watson<br>code+coffee</h1>
    <ul class="contact-buttons">
      <li class="cBtn emailBtn"><i class="fa fa-envelope-o"></i></li>
      <li class="cBtn linkedBtn"><i class="fa fa-linkedin-square"></i></li>
      <li class="cBtn gitBtn"><i class="fa fa-github"></i></li>
      <li class="cBtn faceBtn"><i class="fa fa-facebook"></i></li>
    </ul>
    <h2 class="projectPage">pro<br>ject</h2>
    <h2 class="aboutPage">meet me</h2>
    <h2 class="contactPage">contact</h2>
  </div>
</main>
