<main class="about-me">
  <div class="about-container">
    <header class="about-header">
      <div class="profile-picture"></div>
      <h1 class="about-name">andrew watson</h1>
    </header>
<div class="about-div">
  <p>
    I am a full­stack JavaScript developer passionate about creative problem solving and user experience. With a background in Digital Media, Animation and management, I am using code to pull everything together and bring visual appeal and interactivity to form and functionality. I also love coffee. I really love coffee.
  </p>
</div>
  </div>
<!-- <footer class="about-footer">
  <h2>coffee + ? = code</h2>
</footer> -->
</main>
